# Ignore node_modules folders everywhere
**/node_modules/

# Ignore dist/build folders 
dist/
build/

# Ignore sistem files (macOS)
.DS_Store

# Ignore logs
*.log

# Ignore test coverage reports
coverage/

# Ignore environment files
.env
